<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HBS Express</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div class="row">
            <h1>Welcome {{userName}} to HBS</h1>
                        
        </div>
        <br>
        <ol>
            {{#each players}}
            <li>{{ this }}</li>
            {{/each}}

        </ol>

        {{#if formError}}
            <div class="alert alert-danger" role="alert">
                Please enter student name
            </div>
        {{/if}}

        <form action="/hey" method="POST">
            <label>
                Enter Student Name: <input name="studentName" type="text" class="form-control">
                
            </label>
        <br>
        <button type="submit" class="btn btn-info">Add Student</button>
            
        </form>
    </div>


</body>
</html>